.borderTop {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #4B2F2C;
}

.borderRight {
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #4B2F2C;
}

.borderLeft {
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #4B2F2C;
}

.borderBottom {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #4B2F2C;
}

body {
	background-color: #4B2F2C;
	background-image: url('/ivoniart/resources/resource.action?path=images/background&resType=image');
	background-repeat: no-repeat;
	background-attachment:fixed;
	margin: 0;
	white-space: normal;
	color: #749CA1;
	background-size: 100%;
}

div#root {
	margin: 0 auto;
	width: 100%;
	height: 500px;
}

div#header {
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	display: table;
	margin-bottom: 10px;
}

div#logoStrip {
	height: 100px;
}

div#logo {
	top: 30px;
	float: right;
	position: absolute;
	right: 20px;
}

div#menuStrip {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgba(0, 0, 0, 0.50);
}

div#menuBar {
	margin: 0 auto;
	overflow: hidden;
	display: table;
}

a.menuItem {
	color: #CCCCCC;
	float: left;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border: solid;
	border-width: 1px;
	border-color: transparent;
}

div#menuItem a {
	text-decoration: none;
	color: inherit;
}

a.menuItem:HOVER {
	cursor: hand;
	cursor: pointer;
	border-color: #00CCFF;
	color: #00CCFF;
}

a.menuItemActive {
	color: #00CCFF;
}

div#bodyContainer {
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	display: table;
	background-color: rgba(0, 0, 0, 0.50);
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #4B2F2C;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #4B2F2C;
}

div#body {
	background-color: rgba(0, 0, 0, 0.75);
	margin: 0 auto;
	overflow: hidden;
	display: table;
	width: 500px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 100px;
}

div#title {
	font-weight: bold;
	font-size: 18px;
	display: table;
	color: white;
}

div#picture {
	display: table;
}

div#content {
	display: table;
}

div#footer {
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	display: table;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.50);
	color: white;
}

div#copyright {
	margin: 0 auto;
	overflow: hidden;
	display: table;
}